<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}"{% if page.template == 'post' %} itemscope itemtype="https://schema.org/Article"{% endif %}>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }} &#8212; {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  {% include 'partials/metadata.html.twig' %}

  <meta property="og:url" content="{{ page.canonical() }}">
  <meta property="og:locale" content="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
  <meta property="og:site_name" content="{{ site.description }}">
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="article:author" content="{{ site.author.name }}">
  {% if page.template == 'post' %}
  <meta property="og:type" content="article">
  <meta property="og:image" content="{{ base_url_absolute }}{{ page.media[page.header.image].url }}">
  <meta property="og:description" content="{{ content | striptags | truncate(200) }}">
  {% endif %}
  {% for social in site.social %}
  {% if social.icon == "twitter" %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@{{ social.user }}">
  {% endif %}
  {% endfor %}
  <link rel="author" href="{{ site.author.name }}">
  <meta itemprop="name" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta itemprop="description" content="{{ content | striptags | truncate(200) }}">
  <meta itemprop="image" content="{{ base_url_absolute }}{{ page.media[page.header.image].url }}">
  <link rel="canonical" href="{{ page.canonical() }}">
  <link rel="shortcut icon" href="{{ base_url_relative }}{{ site.logo }}">
  <link rel="stylesheet" href="{{ theme_url }}/assets/font-awesome.css">
  <link rel="stylesheet" href="{{ theme_url }}/assets/normalize/normalize.css">
  <link rel="stylesheet" href="{{ theme_url }}/css/hereditor-palette.css">
  <link rel="stylesheet" href="{{ theme_url }}/css/hereditor-outline.css">
  <link rel="stylesheet" href="{{ theme_url }}/css/hereditor-interim.css">

    {% block stylesheets %}
        {% do assets.addCss('theme://assets/inter/inter.css') %}
        {% do assets.addCss('theme://assets/libertinus.css') %}
        {# {% do assets.addCss('theme://css/print.css') %} #}
    {% endblock %}

    {% block javascripts %}
        {% do assets.add('jquery', {group: 'bottom', priority: 101}) %}
        {% do assets.addJs('theme://js/jquery.fitvids.js', {group: 'bottom'}) %}
        {% do assets.addJs('theme://js/index.js', {group: 'bottom'}) %}
    {% endblock %}

    {% block assets deferred %}
        {{ assets.css()|raw }}
        {{ assets.js()|raw }}
    {% endblock %}
</head>
{% block body %}
<body>
{% endblock %}

{% set home = pages.find(config.system.home.alias) %}

    {% block header %}
        <a href="{{ home.url }}" class="logo-readium"><span class="logo" style="background-image: url({{ base_url_relative }}{{ site.logo }})"></span></a>
    {% endblock %}

    <!-- content start -->

    {% block content %}
    <div class="page-content">
        <div class="wrapper">
            {{ content|raw }}
        </div>
    </div>
    {% endblock %}
    <!-- content end -->


    {% block footer %}
    <!-- footer start -->
    <footer class="site-footer">
      <i class="fa fa-rss-square" aria-hidden="true"></i>
      <a class="subscribe" href="home.rss">{{ 'THEME_HEREDITOR.FEED' | t }}</a>
        <div class="inner">
             <section class="copyright">
             {{ 'THEME_HEREDITOR.COPYRIGHT' | t }}
             <a href="/about">{{ site.author.name }}</a>
             <i class="fa fa-copyright" aria-hidden="true"></i> {{ "now"|date('Y') }}
             <br/>
             {{ 'THEME_HEREDITOR.RIGHTRESERVED' | t }}
             </section>
             <section class="poweredby">
             {{ 'THEME_HEREDITOR.MADE' | t }} <i class="fa fa-grav" aria-hidden="true"></i> <a href="http://getgrav.org">Grav</a>
             <br/>
             {{ 'THEME_HEREDITOR.THEME' | t }} <i class="fa fa-{{ grav.theme.icon }}" aria-hidden="true"></i> <a href="{{ grav.theme.homepage }}">{{ grav.theme.name }}</a>
             </section>
        </div>
    </footer>
    <!-- footer end -->
    {% endblock %}

    {% block bottom %}
        {{ assets.js('bottom')|raw }}
    {% endblock %}
    {% include 'partials/javascripts.html.twig' %}
</body>
</html>
