<div class="post-meta">
  {% if page.header.link %}
  <h1 class="post-title"><i class="fa fa-angle-double-right"></i> <a href="{{ page.header.link }}">{{ page.title }}</a></h1>
  {% else %}
  <h1 class="post-title">{{ page.title }}</h1>
  {% endif %}
  {% if page.template == 'post' %}
  <div class="cf post-meta-text">
    <i class="fa fa-pencil" aria-hidden="true"></i>&#160;
    <span class="author-name" itemprop="author" itemscope itemtype="http://schema.org/Person">{{ 'THEME_HEREDITOR.WRITTENBY' | t }}&#160;{{ site.author.name }}</span>
    <i class="fa fa-calendar" aria-hidden="true"></i>&#160;
    {{ 'THEME_HEREDITOR.PUBLISHEDON' | t }}&#160;<time datetime="{{ page.date | date(site.date_short) }}">{{ page.date | date(site.date_short) }}</time><br/>
    {% if page.taxonomy.tag|length > 0 %}
      <span class="post-tags-set">
        <i class="fa fa-tags" aria-hidden="true"></i>&#160;
        {% for tag in page.taxonomy.tag %}
          <span class="post-tag-{{tag}}">
            <a href="{{ base_url }}/tag{{ config.system.param_sep }}{{ tag }}">{{ tag }}</a>
          </span>
          {%if not loop.last %}
            +
          {% endif %}
        {% endfor %}
      </span>
    {% endif %}
  </div>
    <div style="text-align:center">
    <a href="#topofpage" class="topofpage"><i class="fa fa-angle-down"></i></a>
  </div>
  {% endif %}
</div>
