{% embed 'partials/base.html.twig' %}

{% block body %}
<body itemscope itemtype="http://schema.org/Article">
{% endblock %}

{% block content %}
    <main class="content {{ page.header.image ? 'tag-articleimage' : '' }}" role="main">
      <article class="post">
        {% if page.header.image %}
        <div class="article-image">
          <div class="post-image-image" style="background-image: url({% if page.header.image %}{{ page.media[page.header.image].url }}{% endif %})">
            {{ 'THEME_HEREDITOR.ARTICLEIMAGE' | t }}
          </div>
          {% include 'partials/postmeta.html.twig' %}
        </div>
        {% else %}
        <div class="noarticleimage">
          {% include 'partials/postmeta.html.twig' %}
        </div>
        <br>
        <br>
        <br>
        {% endif %}
        <section class="post-content">
          {% if page.template == 'post' %}
          <div class="post-reading">
            <span class="post-reading-time"></span>
          </div>
          {% endif %}
          <a name="topofpage"></a>
          {{ content }}
        </section>

        {% if page.template == 'post' %}
        <footer class="post-footer">
          <section class="share">
            {% for social in site.social %}
              {% if social.share_url != null %}
                <a class="icon-{{ social.icon }}" href="{{ social.share_url }}{{ social.share_title }}{{page.title | escape}}{{ social.share_link }}{{site.url}}{{page.id}}"
                  onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=255');return false;">
                <i class="fa fa-{{ social.icon }}"></i><span class="hidden">{{ social.icon }}</span>
                </a>
              {% endif %}
            {% endfor %}
          </section>
        </footer>
        <div class="bottom-teaser cf">
          <div class="isLeft">
            <h5 class="index-headline featured"><span>{{ 'THEME_HEREDITOR.WRITTENBY' | t }}</span></h5>
            <section class="author">
              <div class="author-image" style="background-image: url({{ base_url }}{{site.author.image}})">Blog Logo</div>
              <h4>{{ site.author.name }}</h4>
              <p class="bio">{{site.author.bio}}</p>
              <hr/>
              <p class="published">
                <i class="fa fa-pencil-square" aria-hidden="true"></i> {{ 'THEME_HEREDITOR.PUBLISHEDON' | t }}
                <time datetime="{{ page.date | date(site.date_short) }}">{{ page.date | date(site.date_short) }}</time>
              </p>
              <p>
                <i class="fa fa-rss-square" aria-hidden="true"></i>
                <a class="subscribe" href="home.rss">{{ 'THEME_HEREDITOR.FEED' | t }}</a>
              </p>
            </section>
          </div>
          {# {{/post}} #}
          <div class="isRight">
            <h5 class="index-headline featured"><span>{{ 'THEME_HEREDITOR.MADE' | t }}</span></h5>
            <footer class="site-footer">
              <section class="poweredby">
              {{ 'THEME_HEREDITOR.MADE' | t }} <i class="fa fa-grav" aria-hidden="true"></i> <a href="http://getgrav.org">Grav</a>
              <br/>
              {{ 'THEME_HEREDITOR.THEME' | t }} <i class="fa fa-{{ grav.theme.icon }}" aria-hidden="true"></i> <a href="{{ grav.theme.homepage }}">{{ grav.theme.name }}</a>
              </section>
              <div class="inner">
                <section class="copyright">
                {{ 'THEME_HEREDITOR.COPYRIGHT' | t }}
                <a href="/about">{{ site.author.name }}</a>
                <i class="fa fa-copyright" aria-hidden="true"></i> {{ "now"|date('Y') }}
                <br/>
                {{ 'THEME_HEREDITOR.RIGHTRESERVED' | t }}
                </section>
              </div>
            </footer>
          </div>
        </div>
        {% endif %}

      </article>
    </main>
    <div class="bottom-closer">
      <div class="background-closer-image" {% if home.header.cover %} style="background-image: url({{ home.media[home.header.cover].brightness(-75).url }})"{% endif %}>
        {{ 'THEME_HEREDITOR.IMAGE' | t }}
      </div>
      <div class="inner">
        <h1 class="blog-title">{{ site.title }}</h1>
        <h2 class="blog-description">{{ site.description }}</h2>
        <a href="{{ home.url }}" class="btn">{{ 'THEME_HEREDITOR.BACKHOME' | t }}</a>
      </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}

{% endembed %}
